<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:fragment="layout (template, title)">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="PAPW Store">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${title}"></title>
    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->


</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <ul>
                <li sec:authorize="!isAnonymous()">
                    <a href="/logout">
                        <span th:inline="text">Cerrar Sesión [[${#httpServletRequest.remoteUser}]]</span>
                    </a>
                </li>
                <li><a th:href="@{~/}">Home</a></li>
                <li><a th:href="@{~/about}">About</a></li>
                <a th:href="@{~/cart}">Carrito</a>
            </ul>

            <div>
                <div>
                    <form action="/search" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Search">
                        <button type="submit">Buscar</button>
                    </form>
                </div>
                <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>

                <div>
                    <a sec:authorize="!isAnonymous()">
                        <img th:src="@{/user/profile/(username=${#httpServletRequest.remoteUser})}"></img>
                    </a>
                    <span sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">
                            Login
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </header>

    <div th:replace="${template}"></div>

</body>

</html>