<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/template :: layout (~{::body}, 'Articulos')}">

<body>
    <link href="css/4-col-portfolio.css" rel="stylesheet">

    <div class="container">

        <!-- Page Heading -->
        <br>
        <h1 class="Articulos">Articulos:
            <small class="my-4" id="Filter By" th:text="${category}"></small>
        </h1>
        <br>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" th:each="item : ${items}">
                <div class="card h-100">
                    <a th:href="@{~/item(id=${item.id})}">
                        <img class="card-img-top" th:src="@{~/item/image(id=${item.id}, pos=1)}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a th:text="${item.name}" th:href="@{~/item(id=${item.id})}"></a>
                        </h4>
                        <p class="card-text" th:text="${item.description}"></p>
                        <span sec:authorize="!isAnonymous()">
                            <span th:if="${item.owner == #httpServletRequest.remoteUser}">
                                <a th:href="@{~/deleteItem(id=${item.id})}">Eliminar</a>
                                <a th:href="@{~/editItem(id=${item.id})}">Editar</a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Pagination -->
        <br>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>

    </div>

</body>

</html>