<!DOCTYPE html>

<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/template :: layout (~{::body}, 'Login Page')}">

<body>
<section class="welcome_area bg-img background-overlay" style="background-image: url(img/bg-img/bg-1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h2>Login</h2>
                    <div th:if="${param.error}" class="alert alert-warning" role="alert">
                        Username y/o password incorrectos, intentalo nuevamente.
                    </div>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <input placeholder="Username" name="username" id="email" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Password" name="password" id="password" type="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="remember-me" id="remember-me">
                                    Recordar Contraseña
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
