<!DOCTYPE html>

<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/template :: layout (~{::body}, 'SignUP Page')}">

<body>
<section class="new_arrivals_area section-padding-80 clearfix" style="background-image: url(img/bg-img/bg-1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h2>Signup</h2>
                    <form th:action="@{/signup}" method="post" th:object="${user}" enctype="multipart/form-data">
                        <div th:if="${#fields.hasAnyErrors()}">
                            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" class="alert alert-warning" role="alert"></div>
                        </div>
                        <div class="form-group">
                            <input required th:field="*{userName}" placeholder="Username" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input title="8 caracteres 'a-z' una mayuscula y un numero" pattern="^(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\d\W])|(?=.*\W)(?=.*\d))|(?=.*\W)(?=.*[A-Z])(?=.*\d)).{8,}$" required th:field="*{password}" placeholder="Password" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input required th:field="*{email}" placeholder="Email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input required th:field="*{name}" placeholder="Name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input required th:field="*{lastName}" placeholder="LastName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input th:field="*{phone}" placeholder="Phone" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input th:field="*{address}" placeholder="Address" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="avatar1" placeholder="Avatar" type="file" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="cover1" placeholder="Cover" type="file" class="form-control">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">SignUp</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
